version: 0.1.{build}

branches:
  only:
    - master
    - production

skip_tags: true

init:
  - git config --global core.autocrlf true

environment:
  matrix:
    - nodejs_version: "0.11"
    - nodejs_version: "4"

services:
  - mongodb

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version

artifacts:
  - path: wwwroot
    name: appDeploy


# Don't actually build.
build: off
  
