version: 0.1.{build}

branches:
  only:
    - master
    - production

skip_tags: true

init:
  - git config --global core.autocrlf true

environment:
  matrix:
    - nodejs_version: "0.12.16"
    - nodejs_version: "4"

platform:
  - x86
  - x64

install:
  - ps: Install-Product node $env:nodejs_version $env:platform
  - npm install
  - npm start

services:
  - mongodb

test_script:
  - node --version
  - npm --version

# artifacts:
#   - path: wwwroot
#     name: appDeploy


# Don't actually build.
build: off
  
