<div class="container">
  <div class="row">
    <div class="col-md-10 col-xs-12">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title">{{user?.name}}</h2>
          <strong class="card-text">{{user?.name}}</strong>
          <div class="row">
            <div class="col-2"><i>ID: </i></div>
            <div class="col-10">{{user?.id}}</div>
          </div>
          <div class="row">
            <div class="col-2"><small>Starting: </small></div>
            <div class="col-10">{{user?.registered | amUtc | amDateFormat: 'YYYY-MM-DD'}}</div>
          </div>
          <div class="row">
            <div class="col-2"><small>Email:</small> </div>
            <div class="col-10">{{user?.email}}</div>
          </div>
          <div class="row">
            <div class="col-2"><small>Username:</small> </div>
            <div class="col-10">{{user?.username}}</div>
          </div>
          <div class="row" *ngIf="user?.events?.length > 0">
            <div class="col-12"><small>Users : </small></div>
            <div *ngFor="let event of user?.events">
              <ul class="list-group">
                <li class="list-group-item"><em>{{event?.name}}</em></li>
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-block btn-warning" role="button">
               <i class="fa fa-backward" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>