    <div *ngIf="!conf"><h2>No book selected</h2></div>
    <div *ngIf="conf" class="panel panel-warning">
      <div class="panel-header">
        <h4>{{conf?.name}}</h4><br />
        <em>{{conf?.startTime}}</em> - <em>{{conf?.endTime}}</em>
      </div>
      <div class="panel-body">
        <div class="media">
          <div class="media-middle">
            <img class="media-object" [src]="conf?.picture" />
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-warning btn-large" (click)="edit(conf)">Edit</button>
      </div>
    </div>