.header {
    min-height: 3rem;
    border-bottom: 1px solid #a33;
}
.header::after {
    display: table;
    content: '';
    border-bottom: 1px solid #771b1b;
}
.header > button {
    background-color: #a33;
}
.navbar-collapse > ul > li.active > a{
    color: #e2562f;
}

@media (min-width: 768px) {
  .header {
      float: left;
  }
}