<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-block">
          <h2 class="card-title">{{event?.name}}</h2>
          <strong class="card-text">{{event?.name}}</strong>
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <i>ID: </i>
              </div>
              <div class="col-8">{{event?.id}}</div>
            </div>
            <div class="row">
              <div class="col-4">
                <small>Starting: </small>
              </div>
              <div class="col-8">{{event?.startTime | amUtc | amDateFormat: 'DD/MM/YYYY'}}</div>
            </div>
            <div class="row">
              <div class="col-4">
                <small>Ending:</small>
              </div>
              <div class="col-8">{{event?.endTime | amUtc | amDateFormat: 'DD/MM/YYY'}}</div>
            </div>
            <div class="row">
              <div class="col-4">
                <small>Created at:</small>
              </div>
              <div class="col-8">{{event?.createdAt | amUtc | amDateFormat: 'DD/MM/YYYY'}}</div>
            </div>
            <div class="row" *ngIf="eventCreator && eventCreator?.name.trim().length > 0">
              <div class="col-4">
                <small>Creator:</small>
              </div>
              <div class="col-8">{{eventCreator?.name}}</div>
            </div>
            <div class="row">
              <div class="col-4">
                <small>Description:</small>
              </div>
              <div class="col-8">{{event?.description || 'No description provided...'}}</div>
            </div>
            <hr />
            <div class="row" *ngIf='event?.participants?.length > 0'>
              <div class="col-12">
                <small>Participating : </small>
              </div>
              <div *ngFor="let participant of event?.participants">
                <ul class='list-group'>
                  <li class='list-group-item'>
                    <em>{{participant?.name}}</em>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="goBack()" class="btn btn-lg btn-block btn-warning" role="button">
              <i class="fa fa-backward" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>