<div class="card card-info" style="max-width: 18rem; width: 15rem;">
  <div class="card-block">
    <strong class="card-title">Name: </strong><em>{{user.name}}</em>
    <hr />
    <div class="card-text">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4"><small>Registered: </small></div>
          <div class="pull-right"><i>{{user.registered | amUtc | amDateFormat: 'DD.MM.YYY'}}</i></div>
        </div>
        <div class="row">
          <div class="col-4"><small>Username: </small></div>
          <div class="pull-right"><i>{{user.username}}</i></div>
        </div>
        <div class="row">
          <div class="col-4"><small>Email: </small></div>
          <div class="pull-right"><i>{{user.email}}</i></div>
        </div>
      </div>
    </div>
    <hr />
    <a class="btn btn-primary btn-sm btn-block" [routerLink]="['/users', user.id, 'details']" role="button" aria-pressed="true">Details</a>
  </div>
</div>